/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #2b2b2b;
    /* gris */
    color: #f2f2f2;
}

/* GLOBAL */



/* HEADER */


header {
    background: #fff;
    padding: 20px 60px;
    border-bottom: 1px solid #ddd;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 32px;
    color: #000;
}

.header_nav {

    left: 0px;
    display: flex;
    gap: 30px;

}

.header_nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.header_nav a:hover {
    color: #555;
}

.logo {
    width: 80px;
    height: auto;
}

.search-container {
    flex: 1;
    display: flex;
    justify-content: left;
    margin: 0 20px;
    margin-left: 190px;
}

#searchInput {
    width: 500px;
    max-width: 90%;
    padding: 12px 20px;
    border-radius: 50px;
    border: 2px solid #e0e0e0;
    font-size: 16px;
    background-color: #f5f5f5;
    outline: none;
    transition: all 0.3s ease;
    color: #000;
}

#searchInput:focus {
    background-color: #ffffff;
    border-color: #000;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

#searchInput::placeholder {
    color: #888;
}


/* HEADER */


.container {
    width: 80%;
    margin: 40px auto;
}

.card {
    background: #1b1b1b;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input, textarea, button {
    width: 100%;
    
    padding: 10px;
    background: #222;
    border: 1px solid #444;
    color: white;
}

.hero {
    background: #3d3d3d;
    padding: 80px 20px;
    border-radius: 12px;
    text-align: center;
    margin-top: 60px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
}

.hero p {
    font-size: 15px;
    color: #ccc;
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
}

form input {
    border-radius: 6px;
}

.social {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 60px;

}

.social h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #ffffff;
}

.login-title {
    margin-top: 60px;
    text-align: center;
}

.login-box h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #ec6161;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: none;
    outline: none;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background-color: #ec6161;
    color: #fff;
    border: 1px solid #fff;
}

.register-text {
    margin-top: 15px;
    font-size: 14px;
    color: #ccc;
}

.register-text a {
    color: #fff;
    text-decoration: underline;
}

/* ===== BUSCADOR GLOBAL ===== */
