/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #2b2b2b;
    color: #f2f2f2;
}

/* GLOBAL */



/* HEADER */


header {
    background: #fff;
    padding: 20px 60px;
    border-bottom: 1px solid #ddd;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 32px;
    color: #000;
}

.header_nav {

    left: 0px;
    display: flex;
    gap: 30px;

}

.header_nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.header_nav a:hover {
    color: #555;
}

.logo {
    width: 80px;
    height: auto;
}

.search-container {
    flex: 1;
    display: flex;
    justify-content: left;
    margin: 0 20px;
    margin-left: 190px;
}

#searchInput {
    width: 500px;
    max-width: 90%;
    padding: 12px 20px;
    border-radius: 50px;
    border: 2px solid #e0e0e0;
    font-size: 16px;
    background-color: #f5f5f5;
    outline: none;
    transition: all 0.3s ease;
    color: #000;
}

#searchInput:focus {
    background-color: #ffffff;
    border-color: #000;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

#searchInput::placeholder {
    color: #888;
}


/* HEADER */


#registroForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    margin: auto; 
    margin-top: 50px;
}

#registroForm input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ea4e4e;
    box-sizing: border-box;
    color: #000; /* Aseguramos que el texto del input sea legible */
}

#registroForm button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#registroForm button:hover {
    background-color: #ea4e4e;
}

#registroForm h2 {
    text-align: center;
    color: #000;
}


