/* 1. RESET GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* 2. BODY: Cambiamos a column para que el header se quede arriba */
body {
    background-color: #2b2b2b;
    color: #f2f2f2;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Esto pone el header arriba y el form abajo */
}

header {
    background: #fff;
    padding: 20px 60px;
    border-bottom: 1px solid #ddd;
}

.search-container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

/* Input del buscador */
#searchInput {
    width: 500px;              /* Más grande */
    max-width: 90%;            /* Que no se rompa en pantallas pequeñas */
    padding: 12px 20px;        /* Alto cómodo */
    border-radius: 50px;       /* Súper redondo */
    border: 2px solid #e0e0e0;
    font-size: 17px;
    background-color: #f5f5f5;
    outline: none;
    transition: all 0.3s ease;
}

/* Cuando el usuario hace clic */
#searchInput:focus {
    background-color: #ffffff;
    border-color: #000;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

/* Placeholder más elegante */
#searchInput::placeholder {
    color: #888;
}

/* CONTENEDOR SUPERIOR */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* LOGO */
header h1 {
    font-size: 32px;
    color: #000;
}

/* MENU EN LÍNEA */
.header_nav {
    display: flex;
    gap: 30px;
}

.header_nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.header_nav a:hover {
    color: #555;
}

.header-search {
    display: flex;
    flex: 0 1 400px; /* El buscador no crecerá más de 400px */
    margin: 0 20px;
    border: 2px solid #333;
    border-radius: 4px;
    overflow: hidden;
}

.header-search input {
    flex-grow: 1;
    border: none;
    padding: 8px 12px;
    outline: none;
    font-size: 14px;
}

.header-search button {
    background: #333;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.header-search button:hover {
    background: #555;
}

.logo {
    width: 80px;      
    height: auto;     
}
.social{
    margin-bottom: 20px;
     text-align: center;
     margin-top: 60px;
     
}