* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #2b2b2b; /* gris */
    color: #f2f2f2;
}

header {
    background: #fff;
    padding: 20px 60px;
    border-bottom: 1px solid #ddd;
}

/* CONTENEDOR SUPERIOR */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
header h1 {
    font-size: 32px;
    color: #000;
}

/* MENU EN LÍNEA */
nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

nav a:hover {
    color: #555;
}

.container {
    width: 80%;
    margin: 40px auto;
}

.card {
    background: #1b1b1b;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input, textarea, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #222;
    border: 1px solid #444;
    color: white;
}

.hero {
    background: #3d3d3d;
    padding: 80px 20px;
    border-radius: 12px;
    text-align: center;
    margin-top: 60px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
}

.hero p {
    font-size: 20px;
    color: #ccc;
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
}

form input {
    border-radius: 6px;
}

.logo {
    width: 80px;      /* cambia este valor si la quieres más pequeña */
    height: auto;     /* mantiene proporción */
}
.social{
    margin-bottom: 20px;
     text-align: center;
     margin-top: 60px;
     
}

