* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 40px auto;
}

h2{
    color: #ffffff;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ffffff;
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.card {
    background: #1b1b1b;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input, textarea, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #222;
    border: 1px solid #444;
    color: white;
}

form input {
    border-radius: 6px;
}

button {
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
}

button:hover {
    background: #d87c6c;
}



