* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #2b2b2b; /* gris */
    color: #f2f2f2;
}

header {
    background: #fff;
    padding: 20px 60px;
    border-bottom: 1px solid #ddd;
}

/* CONTENEDOR SUPERIOR */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
header h1 {
    font-size: 32px;
    color: #000;
}

/* MENU EN LÍNEA */
nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

nav a:hover {
    color: #555;
}

.logo {
    width: 80px;      /* cambia este valor si la quieres más pequeña */
    height: auto;     /* mantiene proporción */
}
.social{
    margin-bottom: 20px;
     text-align: center;
     margin-top: 60px;
     
}